body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #020205; /* This keeps your "Void" background */
    
    /* ADDED FOR MOBILE: This prevents the phone from scrolling */
    touch-action: none; 
    /* ADDED FOR MOBILE: Removes the gray flash when tapping */
    -webkit-tap-highlight-color: transparent;
    /* ADDED FOR MOBILE: Prevents text highlighting while dragging */
    user-select: none;
}

canvas {
    display: block;
    width: 100vw;
    height: 100vh;
}