body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #020205; /* Deep Void */
    touch-action: none; 
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

canvas {
    display: block;
    width: 100vw;
    height: 100vh;
}